@media (max-width: 85em) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 1150px) {
}

@media (max-width: 880px) {
  html {
    font-size: 30%;
  }

  h1 {
    top: 4%;
    width: 100%;
  }

  .btn {
    font-size: 3.2rem;
    width: 10rem;
    height: 5rem;
  }

  .btn--description {
    font-size: 4rem;
  }

  .apod {
    width: 95vw;
    height: auto;
  }

  .main.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }
  .apod.active {
    margin: 0;
    height: auto;
  }

  img {
    display: block;
    width: 100%;
  }

  .description--text {
    width: 100%;
    text-align: justify;
    font-size: 4rem;
    line-height: 1.6;

    overflow: scroll;
  }
}
