@media (max-width: 85em) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 1150px) {
}

@media (max-width: 880px) {
  html {
    font-size: 30%;
  }

  .page-title {
    font-size: 4rem;

    top: 4%;
    left: 42.5%;
  }

  .photo-title {
    top: 12.5%;
    width: 100%;
    font-size: 5.2rem;
  }

  .btn {
    font-size: 3.2rem;
    width: 10rem;
    height: 5rem;
  }

  .btn--description {
    font-size: 4rem;
    padding: 2.5rem 4rem;
  }

  .apod {
    width: 90vw;
    height: auto;
  }

  .main {
    align-items: baseline;
  }

  .main.active {
    grid-template-columns: 1fr;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 2rem;
    padding: 0 2rem;
  }
  .apod.active {
    margin: 0;
    height: auto;
    max-height: 60vh;
  }

  img {
    display: block;
    width: 100%;
  }

  .description--text {
    width: 100%;
    text-align: justify;
    font-size: 4rem;
    line-height: 1.6;

    overflow: scroll;
  }
}
