* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ccc;
  height: 100vh;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background: url(./background.jpg);
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.aside {
  /* width: 97vw;
  height: 80vh; */
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4.2rem;
  text-align: center;

  color: #fff;

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.main {
  height: 80vh;
  z-index: 100;

  transition: all 0.2s;
}

.main.active {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}

.apod {
  margin: 0 auto;
  max-height: 80vh;
  height: 100%;

  font-size: 5rem;
  color: #fff;

  display: flex;
  justify-content: center;
}

.apod.active {
  margin: 0;
  width: 75%;
}

img {
  display: block;
  height: 100%;
  box-shadow: 0px 0px 3px 1px #fff;
}

iframe {
  box-shadow: 0px 0px 5px #000;
  transition: all 0.2s;

  height: 100%;
  width: 80%;
}

.description {
  left: 0%;
  transform: translate(2%, -62.5%);
}

.description--text {
  width: 25vw;
  text-align: justify;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #fff;

  overflow: scroll;
}

.btn {
  /* margin-top: 1rem; */

  background-color: #fff;
  width: 6rem;
  border-radius: 12px;
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.8rem;

  cursor: pointer;
}

.btn p {
  position: absolute;
  left: 0;
  text-align: center;
  width: 55%;
}

.btn::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: '.';
  opacity: 0.1;

  width: 55%;
  height: 100%;

  border-radius: 12px;
  background-color: #000;
}

.btn p.hd {
  left: auto;
  right: 0;
}

.btn.hd::after {
  left: auto;
  right: 0;
}

.btn--description {
  /* margin-top: 1rem; */

  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 12px;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2.4rem;

  cursor: pointer;
}

#loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* width: 100%; */
  text-align: center;
  font-size: 2rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
